@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --high-icon: url(./assets/icons8-priority-48.png);
  --medium-icon: url(./assets/icons8-medium-priority-48.png);
  --low-icon: url(./assets/icons8-low-priority-48.png);
  --plus-icon: url(./assets/icons8-plus.svg);
  --main: #706455;
  --background: #eec18c;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--background);
}
header {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  height: auto;
}
header > .header_buttons {
  margin-bottom: 10px;
}
h1 {
  margin-top: 10px;
}
h2 {
  margin: 0;
  padding: 10px;
}
#projectList {
  display: flex;

  gap: 30px;
  margin: 20px;
}
.project-item {
  border: black 1px solid;
  height: 300px;
  width: 300px;
  background-color: #d9d9d9;
  overflow: hidden;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}
.add-project {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-project > button {
  border: none;
  outline: none;
  cursor: pointer;
}
.addProjectIcon {
  background-image: var(--plus-icon);
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
#projectList > .project-item > h2 {
  text-align: center;
  background-color: #eee;
}
#projectList > .project-item > .task-item {
  border: blue 1px solid;
}
.task-item > button {
  background-color: #eee;
  color: #444;
  cursor: pointer;

  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active,
.task-item > button:hover {
  background-color: #ccc;
}
.task-info {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.priority-icon.high {
  background-image: var(--high-icon);
}

.priority-icon.medium {
  background-image: var(--medium-icon);
}

.priority-icon.low {
  background-image: var(--low-icon);
}

.priority-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
